.btn{
    background-color: transparent;
    border: none;
    color: white;
    font-size: 16px;
    padding: 7px 10px 7px 10px;
    cursor: pointer;
    border: solid transparent 1px ;
    transition: color .3s ease;
    &:focus{
        outline: none;  
    }
    &:hover{
        color: darken($color: white, $amount: 5);
    }
}
.btn-primary{
    background-color: $primary;
    border-radius:2px;
    &:disabled{
        background-color: lighten($color: $primary, $amount: 10);
    }
    &:hover{
        color: darken($color: white, $amount: 20);
        background-color: darken($color: $primary, $amount: 10);
    }
}

.btn-block{
    width: 100%;
}

// Boton de google

.google-btn {
    cursor: pointer;
    margin-top: 5px;
    width: 100%;
    height: 42px;
    background-color: $google-blue;
    border-radius: 2px;
    box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.25);

    transition: box-shadow .3s ease;

    position: relative;
    .google-icon-wrapper {
        position: absolute;
        margin-top: 1px;
        margin-left: 1px;
        width: 40px;
        height: 40px;
        border-radius: 2px;
        background-color: $white;
    }
    .google-icon {
        position: absolute;
        margin-top: 11px;
        margin-left: 11px;
        width: 18px;
        height: 18px;
    }
    .btn-text {
        // margin: 11px 80px 0 0;
        display: block;
        position: absolute;
        width: 100%;
        top: 11px;
        display: flex;
        justify-content: center;
        color: $white;
        font-size: 14px;
        letter-spacing: 0.2px;
    }
    &:hover {
        box-shadow: 0 0 6px $google-blue;
    }
    &:active {
        background: $button-active-blue;
    }
}
.btn-note-image i,.btn-note-save i{
    margin-left: 8px;
}
.btn-note-image{
    background-color: $btn-picture;
    transition: background-color .3s ease;
    &:hover{
        background-color: darken($color: $btn-picture, $amount: 10);
    }
}
.btn-note-save{
    background-color: $btn-save;
    transition: background-color .3s ease;
    &:hover{
        background-color: darken($color: $btn-save, $amount: 11);
    }
}

.btn-danger{
    background-color: rgb(255, 83, 83);
    transition: backgroud-color .3s ease;
    &:hover{
        background-color: darken($color: red, $amount: 10);
    }
}