.journal__main-content{
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    height: 100vh;
    width: 100%;
    overflow: hidden;
    position: relative;
}
.journal__main-content main{
    text-align: center;
}
.journal__sidebar{
    background-color: $dark-grey;
    color: white;
    display: flex;
    flex-direction: column;
    height: 99%;
    padding-left: 10px;
    padding-right: 10px;
    width: 450px;
    padding-top: 10px;
    transition: transform .3s ease;
}
.journal__sidebar-navbar{
    display: flex;
    justify-content: space-around;
}
.journal__sidebar-navbar h3{
    margin-top: 5px;
    font-weight: lighter;
}
.journal__new-entry{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top:30px ;
    width: 100%;
    border: 1px solid #fff;
    transition: color .3s ease;
    
    &:hover{
        color: darken($color: white, $amount: 20);
        cursor: pointer;
    }
}
.journal__entries{
    flex: 1 1 auto;
    margin-top: 30px;
    overflow-y: scroll;
} 

.journal__entry{
    background-color: white;
    border-radius: 4px;
    color: $dark-grey;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    overflow: hidden;
    &:hover{
        background-color: rgba(172, 172, 172, 0.856);
        color: darken($color: rgb(52, 147, 255), $amount: 20);
    }
}

.journal__entry-picture{
    height: 75px;
    width: 75px;
}

.journal__entry-body{
    padding: 10px;
}

.journal__entry-title{
    font-size: 14px;
    font-weight: bold;
}

.journal__entry-content{
    font-size:13px
}
.journal__entry-date-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 5px;
    font-size: 12px;
}

.journal__sidebar__hide{
    transition: transform .3s ease;
    transform: translate(90%);
    position: absolute;
    right: 0;
}
.main__sidebar{
    width: 100%;
}
.btn-toggle{
    margin-right:20px;
    display: none;
}

@media (max-width:1000px){
    .main__sidebar{
        width: 100%;
    }
}

@media (max-width:750px){
    .journal__sidebar__hide{
        transform: translate(100%);
    }
    .btn-toggle{
        display: block;
        margin-right:20px;
    }
    .journal__sidebar{
        background-color: $dark-grey;
        color: white;
        position: absolute;
        display: flex;
        flex-direction: column;
        height: 99%;
        padding-left: 10px;
        padding-right: 10px;
        width: 100%;
        padding-top: 10px;
        transition: transform .3s ease;
    }
    // .btn-toggle{
    //     display: none;
    // }
}

