//Configuraciones globales
//cuando tiene el _ es un parcial
//colors
$primary:#5c62c5;
$dark-grey:#363636;
$ligth-grey:#d8d8d8;
$background-note:rgb(86, 159, 255);
$btn-picture:rgb(136, 63, 231);
$btn-save:rgb(231, 116, 63);

// Variables para el boton de google
$white: #fff;
$google-blue: #4285f4;
$button-active-blue: #1669f2;
